# Nivell 1⭐️

#### Exercici 1

Descarrega el data set Airlines Delay: Airline on-time statistics and delay causes i carrega’l a un pandas Dataframe. Explora les dades que conté, i queda’t únicament amb les columnes que consideris rellevants.

In [1]:
import pandas as pd

In [2]:
df = pd.read_csv('DelayedFlights.csv') #read the csv file and load it in df dataframe
df

,Unnamed: 0,Year,Month,DayofMonth,DayOfWeek,DepTime,CRSDepTime,ArrTime,CRSArrTime,UniqueCarrier,...,TaxiIn,TaxiOut,Cancelled,CancellationCode,Diverted,CarrierDelay,WeatherDelay,NASDelay,SecurityDelay,LateAircraftDelay
0,0,2008,1,3,4,2003.0,1955,2211.0,2225,WN,...,4.0,8.0,0,N,0,NaN,NaN,NaN,NaN,NaN
1,1,2008,1,3,4,754.0,735,1002.0,1000,WN,...,5.0,10.0,0,N,0,NaN,NaN,NaN,NaN,NaN
2,2,2008,1,3,4,628.0,620,804.0,750,WN,...,3.0,17.0,0,N,0,NaN,NaN,NaN,NaN,NaN
3,4,2008,1,3,4,1829.0,1755,1959.0,1925,WN,...,3.0,10.0,0,N,0,2.0,0.0,0.0,0.0,32.0
4,5,2008,1,3,4,1940.0,1915,2121.0,2110,WN,...,4.0,10.0,0,N,0,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1936753,7009710,2008,12,13,6,1250.0,1220,1617.0,1552,DL,...,9.0,18.0,0,N,0,3.0,0.0,0.0,0.0,22.0
1936754,7009717,2008,12,13,6,657.0,600,904.0,749,DL,...,15.0,34.0,0,N,0,0.0,57.0,18.0,0.0,0.0
1936755,7009718,2008,12,13,6,1007.0,847,1149.0,1010,DL,...,8.0,32.0,0,N,0,1.0,0.0,19.0,0.0,79.0
1936756,7009726,2008,12,13,6,1251.0,1240,1446.0,1437,DL,...,13.0,13.0,0,N,0,NaN,NaN,NaN,NaN,NaN
1936757,7009727,2008,12,13,6,1110.0,1103,1413.0,1418,DL,...,8.0,11.0,0,N,0,NaN,NaN,NaN,NaN,NaN

In [3]:
df = df[['FlightNum','DayofMonth','Month','Year','Origin','DepTime','DepDelay','Dest','ArrTime','ArrDelay','Distance']]
df.head() #select desired columns, stored in dataframe and showed first 5 rows

,FlightNum,DayofMonth,Month,Year,Origin,DepTime,DepDelay,Dest,ArrTime,ArrDelay,Distance
0,335,3,1,2008,IAD,2003.0,8.0,TPA,2211.0,-14.0,810
1,3231,3,1,2008,IAD,754.0,19.0,TPA,1002.0,2.0,810
2,448,3,1,2008,IND,628.0,8.0,BWI,804.0,14.0,515
3,3920,3,1,2008,IND,1829.0,34.0,BWI,1959.0,34.0,515
4,378,3,1,2008,IND,1940.0,25.0,JAX,2121.0,11.0,688

___

#### Exercici 2

Fes un informe complet del data set:.

* Resumeix estadísticament les columnes d’interès
* Troba quantes dades faltants hi ha per columna
* Crea columnes noves (velocitat mitjana del vol, si ha arribat tard o no...)
* Taula de les aerolínies amb més endarreriments acumulats
* Quins són els vols més llargs? I els més endarrerits?
* Etc.

In [4]:
df.describe() #show a general descriptive statistics

,FlightNum,DayofMonth,Month,Year,DepTime,DepDelay,ArrTime,ArrDelay,Distance
count,1.936758e+06,1.936758e+06,1.936758e+06,1936758.0,1.936758e+06,1.936758e+06,1.929648e+06,1.928371e+06,1.936758e+06
mean,2.184263e+03,1.575347e+01,6.111106e+00,2008.0,1.518534e+03,4.318518e+01,1.610141e+03,4.219988e+01,7.656862e+02
std,1.944702e+03,8.776272e+00,3.482546e+00,0.0,4.504853e+02,5.340250e+01,5.481781e+02,5.678472e+01,5.744797e+02
min,1.000000e+00,1.000000e+00,1.000000e+00,2008.0,1.000000e+00,6.000000e+00,1.000000e+00,-1.090000e+02,1.100000e+01
25%,6.100000e+02,8.000000e+00,3.000000e+00,2008.0,1.203000e+03,1.200000e+01,1.316000e+03,9.000000e+00,3.380000e+02
50%,1.543000e+03,1.600000e+01,6.000000e+00,2008.0,1.545000e+03,2.400000e+01,1.715000e+03,2.400000e+01,6.060000e+02
75%,3.422000e+03,2.300000e+01,9.000000e+00,2008.0,1.900000e+03,5.300000e+01,2.030000e+03,5.600000e+01,9.980000e+02
max,9.742000e+03,3.100000e+01,1.200000e+01,2008.0,2.400000e+03,2.467000e+03,2.400000e+03,2.461000e+03,4.962000e+03

In [5]:
pd.DataFrame(df.isnull().sum()) #show number of empty values in every column

               0
FlightNum      0
DayofMonth     0
Month          0
Year           0
Origin         0
DepTime        0
DepDelay       0
Dest           0
ArrTime     7110
ArrDelay    8387
Distance       0

In [13]:
df['FlyTime'] = df['ArrTime'] - df['DepTime'] #add a lenght fly time value column
df[:100] #show first 100 rows

<ipython-input-13-67b142e95a85>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['FlyTime'] = df['ArrTime'] - df['DepTime']

,FlightNum,DayofMonth,Month,Year,Origin,DepTime,DepDelay,Dest,ArrTime,ArrDelay,Distance,FlyTime,LateArrive
0,335,3,1,2008,IAD,2003.0,8.0,TPA,2211.0,-14.0,810,208.0,False
1,3231,3,1,2008,IAD,754.0,19.0,TPA,1002.0,2.0,810,248.0,True
2,448,3,1,2008,IND,628.0,8.0,BWI,804.0,14.0,515,176.0,True
3,3920,3,1,2008,IND,1829.0,34.0,BWI,1959.0,34.0,515,130.0,True
4,378,3,1,2008,IND,1940.0,25.0,JAX,2121.0,11.0,688,181.0,True
...,...,...,...,...,...,...,...,...,...,...,...,...,...
95,3144,3,1,2008,LAS,1602.0,52.0,ISP,2357.0,62.0,2283,755.0,True
96,82,3,1,2008,LAS,1738.0,23.0,LAX,1838.0,18.0,236,100.0,True
97,135,3,1,2008,LAS,2207.0,17.0,LAX,2306.0,11.0,236,99.0,True
98,317,3,1,2008,LAS,1851.0,26.0,LAX,2004.0,34.0,236,153.0,True
99,337,3,1,2008,LAS,701.0,16.0,LAX,802.0,17.0,236,101.0,True

In [12]:
df['LateArrive'] = df['ArrDelay'] > 0 #show if a fly arrive late
df[:100] #show first 100 rows

<ipython-input-12-ad4e433958c3>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['LateArrive'] = df['ArrDelay'] > 0

,FlightNum,DayofMonth,Month,Year,Origin,DepTime,DepDelay,Dest,ArrTime,ArrDelay,Distance,FlyTime,LateArrive
0,335,3,1,2008,IAD,2003.0,8.0,TPA,2211.0,-14.0,810,208.0,False
1,3231,3,1,2008,IAD,754.0,19.0,TPA,1002.0,2.0,810,248.0,True
2,448,3,1,2008,IND,628.0,8.0,BWI,804.0,14.0,515,176.0,True
3,3920,3,1,2008,IND,1829.0,34.0,BWI,1959.0,34.0,515,130.0,True
4,378,3,1,2008,IND,1940.0,25.0,JAX,2121.0,11.0,688,181.0,True
...,...,...,...,...,...,...,...,...,...,...,...,...,...
95,3144,3,1,2008,LAS,1602.0,52.0,ISP,2357.0,62.0,2283,755.0,True
96,82,3,1,2008,LAS,1738.0,23.0,LAX,1838.0,18.0,236,100.0,True
97,135,3,1,2008,LAS,2207.0,17.0,LAX,2306.0,11.0,236,99.0,True
98,317,3,1,2008,LAS,1851.0,26.0,LAX,2004.0,34.0,236,153.0,True
99,337,3,1,2008,LAS,701.0,16.0,LAX,802.0,17.0,236,101.0,True

___

#### Exercici 3

Exporta el data set net i amb les noves columnes a Excel.

Nota: al intentar exportar el llibre complert donava error indican que hi havia mes files que les soportades per excel aixi que hem optat per exportar unicament les primeres 100 files.

In [15]:
df[:100].to_excel('newDelayedFlights.xlsx',sheet_name = 'Sheet1') #export first 100 rows to a .xlsx file